<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="fr.drangies.cordova.serial"
    version="0.0.7">
    <name>Serial</name>
    <description>Cordova plugin to communicate with the android USB serial port</description>
    <license>MIT</license>
    <keywords>serial,arduino</keywords>

    <!-- js module -->
    <js-module src="www/serial.js" name="Serial">
        <clobbers target="window.serial" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Serial">
                <param name="android-package" value="fr.drangies.cordova.serial.Serial"/>
            </feature>
        </config-file>
        <source-file src="src/android/fr/drangies/cordova/serial/Serial.java" target-dir="src/fr/drangies/cordova/serial" />
        <source-file src="src/android/fr/drangies/cordova/serial/UsbBroadcastReceiver.java" target-dir="src/fr/drangies/cordova/serial" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/CdcAcmSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/Ch34xSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/CommonUsbSerialPort.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/Cp21xxSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/FtdiSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/ProbeTable.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/ProlificSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/UsbId.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/UsbSerialDriver.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/UsbSerialPort.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/UsbSerialProber.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/driver/UsbSerialRuntimeException.jar" target-dir="src/com/hoho/android/usbserial/driver" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/util/HexDump.jar" target-dir="src/com/hoho/android/usbserial/util" />
        <source-file src="lib/usb-serial-for-android/usbSerialForAndroid/src/main/java/com/hoho/android/usbserial/util/SerialInputOutputManager.jar" target-dir="src/com/hoho/android/usbserial/util" />
    </platform>

    <!-- ubuntu -->
    <platform name="ubuntu">
        <header-file src="src/ubuntu/serial.h" />
        <source-file src="src/ubuntu/serial.cpp" />
    </platform>
</plugin>
